body{
	list-style: none;
	margin:0px;
background: #fff;
	padding: 0px;
}
ul, li { list-style: none; margin: 0px; padding: 0px; }
.aside { position: fixed;
    width:260px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color:#FAF0E6;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.search-input{
    background: 0 0;
    transition: top .5s ease;
    background: #fff;
    margin-top: -10px;
    border-radius:0px;

}
.search-input .form-control {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 20px 10px;
    color: #fff;

}
.aside-inner {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 52px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar {
    height: 100%;
    padding-bottom: 20px;
  
    /* overflow-x: hidden; */
    -webkit-overflow-scrolling: touch;
    margin-right: -17px;
    overflow-y: scroll;
    text-transform: uppercase;
    background:#FFF;;
}
.sidebar .nav-heading {
    color: lightgrey;
    padding: 0px 20px;
    margin-top: 20px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: .035em;
 
}

.sidebar li a {
    padding:12px 20px;
    text-transform: uppercase;
    color: #515253;
    letter-spacing: .020em;
    font-weight: 400;
    cursor: pointer;
    display: block;
      text-decoration:none;
    font-size: 13px; 


}
/*navigation bar css*/

.topnavbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    
    
 }

.topnavbar.navbar {
    border-radius: 0px;
    margin: 0px;
    border: 2px;
    padding: 0px 0px -12px 0px;
  }
.topnavbar {
    background-color:#fff;
}
/*--body css started--*/

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
background-color:lightgrey;

}
.content-wrapper {
    margin: 60px 0px 0px 260px;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.content-wrapper .page-header {
    margin: 25px 0px -16px;
    text-transform: uppercase;
    font-size: 39px;
    

}
.row {
    margin-right: -15px;
    margin-left: -15px;
    display: block;
    opacity: 1;
    
    position: relative;
}
 .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.card {
    padding: 15px;
    background: #fff;
    
    margin-bottom: 20px;
}
.markdown-section
{
line-height: 1.6em;
font-size:15px; 
letter-spacing: .040em;
}
/*end css body*/
 .nav{ padding-left:40px; }    

 @media (min-width: 768px) 
 {
.navbar-nav {
    float: left;
    margin: 0;    
    font-size:22px; 
    color:#FDF5E6;
}
}
.topnavbar.navbar .navbar-nav.li.a {
	 
    background: transparent;
    color: #fff;
    padding-top: 22px;
    padding-bottom: 14px;

}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    
}
.heading{ color:#000; font-size:27px ;margin-top: 22px; font-family: "Times New Roman", Times,serif;font-weight:300; float: left;padding-left: 0px;  }
.fa.fa-bars{ padding: 5px 0px 0px 0px; font-size:25px; margin-left: -8px; }
.navbar-header{width:260px; }

.aside-collapsed .aside { 
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }

.aside-collapsed .content .wrapper { margin: 52px 0px 0px; }
 .layout1{padding-left:40px; padding-right:50px; }
.layout-list li{background-color:#fff;}
.layout-list li a { padding-left: 75px; padding-right:30px;   font-size:12px; } 
.aside-collapsed .content-wrapper { 
    margin-left: 0px;
}
@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
}
.sidebar li a i{margin-right:10px; margin-left: 0px; vertical-align: bottom;}
.navbar-right{ float:right!important; margin-right: 15px;  }

.navbar-nav.navbar-right:focus {
    width: 100%;
}

.header-search-form { position: absolute; top: -100%; left: 260px; right: 0px; -webkit-transition: all .4s; transition: all .4s; }
.header-search-form.focused { top: 0px; }
.header-search-form .form-control { height: 67px; border-radius: 0px; }
.header-search-form a { position: absolute; top: 16px; right: 15px; }
.header-search-form a i { font-size: 34px; padding:12px 20px;  }

.menu-toggle { position: relative; }
.menu-toggle:after { content: "-"; display: block; position: absolute; right: 15px; top: 11px; font-size: 20px; }
.menu-toggle.collapsed:after { content: "+"; }

