body{
	list-style: none;
	margin:0px;
	background: #f2f2f2;
	padding: 0px;
}
ul, li { list-style: none; margin: 0px; padding: 0px; }
.topnavbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.topnavbar.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    border: 0px;
}
.topnavbar {
    background-color: #3f51b5;
}